################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPlusPlusOne/.vs/CPlusPlusOne/v16/Browse.VC.opendb
